DEV_EDITOR_CODE=

# Airliny OAuth 2.0 登录配置
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_CALLBACK=https://li.liyueovo.top/api/auth/callback
OAUTH_BASE=https://account.airliny.com
# 用于加密登录会话 Cookie，请设置一个随机长字符串
SESSION_SECRET=

TIMETABLE_REPO_PATH=src/content/spec/timetable.json

TIMETABLE_REMOTE_LOGIN_URL=
TIMETABLE_REMOTE_SCHEDULE_URL=
TIMETABLE_REMOTE_TENANT_NAME=
TIMETABLE_REMOTE_USERNAME=
TIMETABLE_REMOTE_PASSWORD=
TIMETABLE_REMOTE_SYSTEM_LOGIN=1
TIMETABLE_REMOTE_REMEMBER_ME=true
TIMETABLE_REMOTE_ORIGIN=
TIMETABLE_REMOTE_REFERER=
